STAGING_BASE_URL=https://example.wpstage.net/w/
STAGING_HTTP_USERNAME=
STAGING_HTTP_PASSWORD=
STAGING_WP_ADMIN_USERNAME=
STAGING_WP_ADMIN_PASSWORD=
STAGING_SFTP_HOST=
STAGING_SFTP_PORT=22
STAGING_SFTP_USERNAME=
STAGING_SFTP_PASSWORD=
